
* {
  box-sizing: border-box;
}

/* Make font in the header the same size */
h2 {
    font-size: 30px;
  }
  
  p {
    font-size: 14px;
  }


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: gray;
  font-size: 20px;
}
/* Style the header */
.header {
  background-color: white;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.navbar li  {
    padding-right: 25px;
    display: inline;
    font-size: 20px;
    }
    
    a:link {
      color: rgb(246, 246, 250);
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: white;
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      color: red;
      background-color: transparent;
      text-decoration: underline;
    }
    a:active {
      color: yellow;
      background-color: transparent;
      text-decoration: underline;
    }

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  padding: 10px;
  background-color: lightgray;
  height: 350px
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; 
}


.column img {
  float: left;
  padding-right: 5px;
  object-fit:contain;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
  .navbar li {
    display: block;
  }
}
